<div id="data-input-form" class="container">
	<form role="form">
		<div class="row">
			<div class="form-group col-md-3">
				<label for="user">User: </label>
				<input type="text" class="form-control" id="user" placeholder="Enter Username...">
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-12">
				<label for="comment">Comment: </label>
				<textarea type="text" class="form-control" rows="2" id="comment" placeholder="Enter Comment..."></textarea>
			</div>
		</div>
	</form>
	<div class="row">
		<form action="/file-upload" class="dropzone" id="file-upload-dropzone"></form>
	</div>
	<button type="button" id="submit-button" class="btn btn-default">Submit</button>
</div>