<div class="jumbotron">
	<div class="container">
  		<h1 class="text-center">data2Dash</h1>
		<p class="text-center">Quick and easy data display and analysis on a self hosted platform.</p>
	</div>
</div>

	
<div class="container">
	<row>
		<div class="col-md-4 col-md-offset-1 homepage-block">
			<h3 class="text-center"><a href="#view-data">View Data Set</a></h3>
			<p class="text-center">Select and view saved data sets.</p>
		</div>
		<div class="col-md-4 col-md-offset-2 homepage-block">
			<h3 class="text-center"><a href="#input-data">Add Data Set</a></h3>
			<p class="text-center">Add data sets to your local database.</p>
		</div>
	</row>
</div>