<div class="s2p-input-form container">
	<form role="form">
	<div class="row">
		<div class="form-group col-md-3">
			<label for="user">User: </label>
			<input type="text" class="form-control" id="user" placeholder="Enter Username...">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-3">
			<label for="unit">Unit: </label>
			<input type="text" class="form-control" id="unit" placeholder="Enter Unit...">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-3">
			<label for="serial-number">Serial Number: </label>
			<input type="text" class="form-control" id="serial-number" placeholder="Enter Serial Number...">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-12">
			<label for="comment">Comment: </label>
			<textarea type="text" class="form-control" rows="2" id="comment" placeholder="Enter Comment..."></textarea>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label for="s2p-file">s2p File: </label>
				<input type="file" id="s2p-file">
			</div>
		</div>
	</div>
	<button type="button" id="submit-button" class="btn btn-default">Submit</button>
	</form>
</div>