<div class="s2p-input-form container-fluid">
	<form role="form">
	<div class="form-group">
		<label for="unit">Unit: </label>
		<input type="text" class="form-control" id="unit" placeholder="Enter Username...">
	</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Enter Unit...">
	</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Enter Serial Number...">
	</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Enter Comment...">
	</div>
	<div class="form-group">
		<input type="file" class="form-control">
	</div>
	</form>
</div>