<div class="s2p-input-form container-fluid">
	<form role="form">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Username...">
	</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Unit...">
	</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Serial Number...">
	</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Comment...">
	</div>
	<div class="form-group">
		<input type="file" class="form-control">
	</div>
	</form>
</div>