@font-face {
	font-family: 'Exo2';
	src: url('fonts/Exo2-Regular.ttf');
}

div.app-view.data-graph > div.col-lg-12 >
div.graph-wrapper > div.graph-stage {
	height: 400px;
}

.graph-stage {
	position: relative;
	margin-bottom: 50px;
}

div.logo {
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
	position: absolute;
	overflow: auto;
	height: 100px;
	width: 200px;
	font-family: Exo2;
	font-size: xx-large;
}

h3 a {
	color: black;
}

.homepage-block {
	
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis--x path {
}

.axis-title {
  font-weight: bold;
  text-anchor: end;
}

/*
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
*/

#graph-table-div td {
	font-size: 10px;
}

#graph-table-container th {
	font-size: 11px;
	border: black solid 1px;
}

.dataTables_wrapper div {
	width: 100%;
}